.Sty{ background-color:red; color:white; font-size:21px; }
#resuLt{ background-color:black; color:white; font-size:23px; padding:7px;}
#res{ background-color:rebeccapurple; color:white; font-size:22px; padding:9px; width:max-content;}
