.esemple{
    width:20%; height:12vh; border:1px solid black; float:left; margin-right:9px; margin-top: 50px;
}
#esemple1{ background-color: green; }
#esemple2{ background-color: yellow; }
#esemple3{ background-color: red; }
