:root 
    --bg-body: rgb(5 5 5)  
    --text-color: #f0fff0
    --bg-aside: rgb(10 10 10)
    --style-divv: rgba(255 255 255/6%)
    --title-h2: aqua
    --title-h5: yellow
    --aside-hover: rgba(255 255 255/7%)
    --button-bg-copie: #1e1e1e
    --button-copie: #fdf6e3

$bodyBgColor: var(--bg-body)
$textColor: var(--text-color)
$bgAside: var(--bg-aside)
$style_divv: var(--style-divv)
$title_h2: var(--title-h2)
$title_h5: var(--title-h5)
$asideHover: var(--aside-hover)
$button_bg_copie: var(--button-bg-copie)
$button_copie: var(--button-copie)