:root 
    --bg-body: rgb(5 5 5)  
    --text-color: #f0fff0
    --bg-aside: rgb(10 10 10)
    --style-divv: rgba(255 255 255/6%)
    --title-h2: aqua
    --aside-hover: rgba(255 255 255/7%)

$bodyBgColor: var(--bg-body)
$textColor: var(--text-color)
$bgAside: var(--bg-aside)
$style_divv: var(--style-divv)
$title_h2: var(--title-h2)
$asideHover: var(--aside-hover)