$html-color: #d1382b
$css-color:  #0277a0
$js-color: #d6ba00
$react-color: #61dafb
$vue-color: #3daf7d
$php-color: #787cb4
$laravel-color: #ff2d20
$python-color: #366e9d
$django-color: #092e20


$dark: #212529
$light: #f0fff0