#js-onscroll-DIV{ 
    margin: auto;
    width: 70%;
    background-color:red;
    height: 450px;
    border: 4px solid black;
    overflow: scroll;  
}
#js-onscroll-child{ 
    margin: auto;
    width: 70%;
    background-color:green;
    min-height: 900px;
    border: 0.9px solid white;  
}


#js-onscroll-Parent{ 
    margin: auto; 
    width: 70%; 
    background-color:red; 
    height: 450px; 
    border: 4px solid black; 
    overflow: scroll;
}
#js-onscroll-Child{ 
    margin: auto; 
    width: 70%; 
    background-color:green; 
    min-height: 900px; 
    border: 0.9px solid white;
}