#Result{display: flex; border: 2px solid black;height: 210px;padding-top:0px;}
    #Result div{border:1px solid black}




    #align_items_exemple{ display: flex;justify-content: space-around;background-color:azure;}
    #input_radio_box{ box-shadow:5px 5px 20px rgba(0 0 0/30%); align-self:center; width: 40%; min-height: 350px; }
    #align-items{ width: 40%; box-shadow:3px 3px 20px rgba(0 0 0 /30%); min-height:350px; }
    @media only  screen and (max-width:903px) {
        #align_items_exemple{ flex-direction: column; }
        #input_radio_box{ width: 100%; min-height: 90px; margin-bottom: 27px; }
        #Code{ margin-bottom: 20px; }
        #align-items{ width: 100%; min-height: 90px; }
    }