#css-align-items-ex1-div {
    border: 2px solid black;
    height: 400px;
    display: flex;
    align-items: stretch;
}

#css-align-items-ex1-div div {
    width: 15%;
    height: 90px;
}



/***********************************/

#css-align-items-ex2-div {
    border: 2px solid black;
    height: 400px;
    display: flex;
    align-items: flex-start;
}

#css-align-items-ex2-div div {
    width: 15%;
    height: 90px;
}



/***********************************/

#css-align-items-ex3-div {
    border: 2px solid black;
    height: 400px;
    display: flex;
    align-items: center;
}

#css-align-items-ex3-div div {
    width: 15%;
    height: 90px;
}


/***********************************/

#css-align-items-ex4-div {
    border: 2px solid black;
    height: 400px;
    display: flex;
    align-items: flex-end;
}

#css-align-items-ex4-div div {
    width: 15%;
    height: 90px;
}

/***********************************/


#css-align-items-ex5-Result{display: flex; height: 300px; background-color: white;}
#css-align-items-ex5-Result div{border:1px solid black; height: 100px; line-height: 80px;}

