#css-animation-ex1-box{
    height: 100px;  
    position:relative;  
    margin-top:50px;    
    margin-bottom:65px;
}
#css-animation-ex1{
    line-height: 85px; text-align: center; border:2px solid white;
    border-radius: 8px; width: 90px; height: 90px; background-color: black;
    box-shadow: 2px 2px 10px gray;
    font-size: xx-large; 
    margin-bottom: 90px;
    text-shadow: 1px 1px blue;
    animation : css-animation-ex1 9s infinite ease;
}
@keyframes css-animation-ex1 {
    0%{background-color: red; position: absolute; left:2%;transform: rotate(0deg);}
    50%{background-color: green;position: absolute; left:80%;transform: rotate(25deg);}
    100%{background-color: red;position: absolute; left:2%;transform: rotate(360deg)}
}
/*************************************************/
#css-animation-ex2 {
    width: 200px;
    height: 200px;
    background-color: black;
    animation-name: reda;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
  
@keyframes reda {
    from {
        background-color: black;
    }
    to {
        background-color: green;
    }
}


/*************************************************/

#css-animation-ex3{
    margin: auto;width: 200px;height: 200px;background-color: black; border: 5px solid blue;
    animation-name : name_function;animation-duration : 9s; animation-iteration-count: infinite;
}
@keyframes name_function {
    0%{  background-color: black;}
    25%{ background-color: blue;}
    50%{ background-color: darkgreen;}
    75%{ background-color: yellow;}
    100%{background-color: darkorange}
}

/*************************************************/
#css-animation-ex4{
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: black; 
    border: 5px solid blue;
    animation-name : name_function2;
    animation-duration : 9s; 
    animation-iteration-count: infinite;
}
@keyframes name_function2 {
    0%{  background-color: black;}
    25%{ background-color: blue;}
    50%{ background-color: darkgreen;}
    75%{ background-color: yellow;}
    100%{background-color: darkorange}
}

/*************************************************/

#css-animation-ex5{
    margin: auto;height:9vh;background-color: black;border: 5px solid blue;font-size: x-large;
    animation-name : name_function3;
    animation-duration : 6s; 
    animation-delay : 3s;
    animation-iteration-count: infinite; 
}
@keyframes name_function3 {
    0% { border-radius:50% 9px;background-color: magenta;color: gray;width: 25%;}
    25%{ border-radius:9px;background-color: black;color:aqua;width: 47%;}
    50%{ border-radius:20px 20px 5% 20px;background-color: blueviolet ;color:orange;width: 70%;}
    75%{ border-radius:9px;background-color: white ;color:blue;width: 47%;}
    100%{border-radius:50% 9px;background-color: rgb(235,120,90);color:greenyellow;width: 25%;}
}

/*************************************************/
.css-animation-ex6-styleAdd{
    height:50vh;
    padding:0;
    position:relative;   
}
#css-animation-ex6{
    width: 15%;
    height: 15vh;
    background-color: red;
    border: 5px solid blue;
    position:absolute; 
    animation-name : name_function4;
    animation-duration : 6s; 
    animation-iteration-count : 2; 
}
@keyframes name_function4 {
    0%  {  top:0%;   left:0%;  }
    25% {  top:0%;   left:85%; }
    50% {  top: calc(34vh + 9px);  left:85%; }
    75% {  top: calc(34vh + 9px);  left:0%;}
    100%{  top:0%;   left:0%;  }
}

/*************************************************/
.css-animation-ex7-parent{
    position:relative;
}
.css-animation-ex7{
    border-radius: 50%;
    width: 15%;
    height: 15%;
    background-color: goldenrod; 
    border: 2px solid blue;
    animation-name: name_function5;
    animation-duration:1.5s;
    animation-iteration-count:infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes name_function5 {
    0% { position:absolute; top:0%; left:0%;background-color: red;}
    25%{ position:absolute; top:0%; left:85%;background-color: green;}
    50%{ position:absolute; top: calc(300px - 15%);left:85%;background-color: orange;}
    75%{ position:absolute; top: calc(300px - 15%);left:0%;background-color: orangered;}
    100%{position:absolute; top:0%; left:0%;background-color: red;}
}


/****************************************************/
.css-animation-ex8-box{ 
    border: 6px solid black; 
}
.css-animation-ex8 {
    width: 20%;
    height:70px;
    text-align: center;
    border:2px solid green;
    background: red;
    color:white;
    font-weight: bold;
    font-size: large;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    from{ margin-left: 0%;}
    to{   margin-left: 80%;}
}
/****************************************************/

.css-animation-ex9-parent{
    position:relative;
}
.css-animation-ex9{
    border-radius: 50%;
    width: 15%;height: 15%;
    background-color: greenyellow;
    border: 2px solid orchid;
    animation : playState 5s infinite;
}
@keyframes playState {
    0% { position:absolute; top:0%; left:0%;background-color: red;}
    12.5%{ position:absolute; top:42.5%; left:42.5%;background-color: green;}
    25%{ position:absolute; top:0%; left:85%;background-color: green;}
    32.5%{ position:absolute; top:42.5%; left:42.5%;background-color: green;}
    50%{ position:absolute; top:85%;left:85%;background-color: green;}
    62.5%{ position:absolute; top:42.5%; left:42.5%;background-color: orange;}
    80%{ position:absolute; top:85%;left:0%;background-color: orange;}
    92.5%{ position:absolute; top:42.5%; left:42.5%;background-color: orange;}
    100%{ position:absolute; top:0%; left:0%;background-color: orange;}
}


/****************************************************/
.css-animation-ex10-parent{
    position:relative;
}
.css-animation-ex10{
    border-radius: 50%;
    width: 15%;
    height: 15%;
    background-color: black; 
    border: 2px solid blue;
    animation: name_function9 3s;
}
@keyframes name_function9 {
    0% { position:absolute; top:0%; left:0%;background-color: red;}
    50%{ position:absolute; top:0%; left:85%;background-color: black;}
    100%{ position:absolute; top:calc(300px - 15%);left:85%;background-color: green;}
}