.css-clear-ex1-div{
    width: 20%;
    height: 90px;
    font-size: xx-large;
    color: white;
}

.css-clear-ex1-float_class {
    float: left;
}





.css-clear-ex2-div{
    width: 20%;
    height: 90px;
    font-size: xx-large;
    color: white;
}

.css-clear-ex2-float_class {
    float: left;
}
#css-clear-ex2-orange-color{
    clear: both;
}