p {color: red;}
p.ex1 {display: none;}
p.ex2 {display: inline;}
p.ex3 {display: block;}
p.ex4 {display: inline-block;}
.styleee{background-color: rgb(235,235,235);padding: 20px 20px;direction:ltr;color:black;}
