.css-filter-ex1-parent{  display: flex; }
.css-filter-ex1-div1 , .css-filter-ex1-div2{ width: 30%; margin: auto; margin: 10%; }
.css-filter-ex1-img{
    width: 100%;
}
.css-filter-ex1-img2{
    filter: blur(4px);
}

/************************************/

.css-filter-ex2-parent{ display: flex; }
.css-filter-ex2-div1 , .css-filter-ex2-div2{ width: 30%; margin: auto; margin: 10%; }
.css-filter-ex2-img{ width: 100%; }
.css-filter-ex2-img1{
    filter: brightness(40%);
}
.css-filter-ex2-img2{
    filter: brightness(160%);
}

/************************************/

.css-filter-ex3-parent{ display: flex;}
.css-filter-ex3-div1 , .css-filter-ex3-div2{ width: 30%; margin: auto; margin: 10%; }
.css-filter-ex3-img{ width: 100%; }
.css-filter-ex3-img1{
    filter: contrast(9%);
}
.css-filter-ex3-img2{
    filter: contrast(200%);
}

/************************************/

.css-filter-ex4-parent{ display: flex; }
.css-filter-ex4-div1 , .css-filter-ex4-div2{ width: 30%; margin: auto; margin: 10%;}
.css-filter-ex4-img{ width: 100%; }
.css-filter-ex4-img1{
    filter: grayscale(50%);
}
.css-filter-ex4-img2{
    filter: grayscale(100%);
}

/************************************/

.css-filter-ex5-parent{ display: flex; }
.css-filter-ex5-div1 , .css-filter-ex5-div2{ width: 30%; margin: auto; margin: 10%;}
.css-filter-ex5-img{ width: 100%; }
.css-filter-ex5-img1{
    filter: hue-rotate(20deg);
}
.css-filter-ex5-img2{
    filter: hue-rotate(300deg);
}

/************************************/

.css-filter-ex6-parent{ display: flex; }
.css-filter-ex6-div1 , .css-filter-ex6-div2{ width: 30%; margin: auto; margin: 10%;}
.css-filter-ex6-img{ width: 100%; }
.css-filter-ex6-img1{
    filter: invert(60%);
}
.css-filter-ex6-img2{
    filter: invert(100%);
}

/************************************/

.css-filter-ex7-parent{ display: flex; }
.css-filter-ex7-div1 , .css-filter-ex7-div2{ width: 30%; margin: auto; margin: 10%;}
.css-filter-ex7-img{ width: 100%; }
.css-filter-ex7-img1{
    filter: sepia(50%);
}
.css-filter-ex7-img2{
    filter: sepia(200%);
}