.css-flex-direction-ex1-box { display: flex; background-color: yellow;flex-direction: column; }
.css-flex-direction-ex1-box div {
    width: 40px;background-color: yellowgreen; margin: 9px; padding: 9px;
    font-size: 30px;border:2px solid blueviolet;outline:2px solid blue;outline-offset:6px;
}
