.css-flex-wrap-ex1-h2{ 
    font-size: xx-large; 
    direction:rtl; 
}
#css-flex-wrap-ex1-div{ 
    display: flex;  
    width:100%; 
    flex-wrap: wrap;
}
#css-flex-wrap-ex1-div2{ 
    display: flex;  
    width:100%;
}
#css-flex-wrap-ex1-div div , #css-flex-wrap-ex1-div2 div{ 
    width: 30%; 
    margin:1.5%; 
    height:90px; 
    font-size: xx-large; 
    text-align: center; 
    line-height: 90px;
}
    
    
    
/******************************************/    
    
#css-flex-wrap-ex2-Rseult{
    display: flex;
    width: 99.9%;
    padding: 9px;
    margin-top:20px;
    height:220px
}
#css-flex-wrap-ex2-Rseult div{
    width: 50%;
    height: 70px;
    font-size: 26px;
    text-align: center;
    line-height: 70px;
}


/******************************************/    


#Rseult2{
    display: flex;
    padding: 9px;
    margin-top:20px; 
    flex-wrap: wrap;
    height: 300px;
}
#Rseult2 div{
    width: 50%;
    height: 70px;
}

