#css-focus-ex1-input1:focus{
    width:60%;
    background-color:magenta;
    padding:9px 25px;
    border:2px wavy darkblue;
    border-radius:20% 9px;
    color: white;
    font-size: xx-large;
}
#css-focus-ex1-input2:focus{
    width:40%;
    background-color:green;
    text-align: center;
    border:0.5px solid darkblue;
    border-radius: 9px;
    color: aliceblue;
    font-size: xx-large;
}




#css-focus-ex2-textarea{
    width: 80%;
    height: 20vh;
    border:3px solid gray;
    background-color: yellow;
}
#css-focus-ex2-textarea:focus{
    background-image:linear-gradient(to left , red , green ,blue) ;
    font-size: larger;
    color: white; 
    border:9px dashed darkorange;  
    padding: 20px;
    margin-left: 9.9%;  
}