.css-font-weight-ex1-example {
    font-size: 24px;
}

.css-font-weight-ex1-normal {
    font-weight: normal;
}

.css-font-weight-ex1-bold {
    font-weight: bold;
}

.css-font-weight-ex1-bolder {
    font-weight: bolder;
}

.css-font-weight-ex1-lighter {
    font-weight: lighter;
}
