.inline{ display: inline; background-color: yellow; border:2px solid black; }
.inline2{ display: inline;background-color: yellow;border:2px solid black;padding: 20px;margin:20px;}
 #DIV_R2{ background-color: rgba(20 220 30/75%);}