#css-justify-content-ex1-div{
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
}
#css-justify-content-ex1-div> div{
    padding:  30px 45px;
    font-size: 45px;
    border:4px solid brown;
}

/********************************/

#css-justify-content-ex2-div{
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
}
#css-justify-content-ex2-div> div{
    padding:  30px 45px;
    font-size: 45px;
    border:4px solid brown;
}

/********************************/

#css-justify-content-ex3-div{
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
#css-justify-content-ex3-div> div{
    padding:  30px 45px;
    font-size: 45px;
    border:4px solid brown;
}

/********************************/

#css-justify-content-ex4-div{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}
#css-justify-content-ex4-div> div{
    padding:  30px 45px;
    font-size: 45px;
    border:4px solid brown;
}

/********************************/

#css-justify-content-ex5-div{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}
#css-justify-content-ex5-div> div{
    padding:  30px 45px;
    font-size: 45px;
    border:4px solid brown;
}

/********************************/

#css-justify-content-ex6-div{
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
}
#css-justify-content-ex6-div> div{
    padding:  30px 45px;
    font-size: 45px;
    border:4px solid brown;
}


/********************************/




#Result{
    display:flex; 
    background-color:azure;  
    height: 305px;
    margin-top: 20px;
}
#Result div{
    width:20%; 
    height:70px;
    background-color : azure;
    border:1px solid black
}