.css-letter-spacing-ex1-normal   { letter-spacing: normal; }
.css-letter-spacing-ex1-em-wide  { letter-spacing: 0.4em; }
.css-letter-spacing-ex1-em-wider { letter-spacing: 1em; }
.css-letter-spacing-ex1-em-tight { letter-spacing: -0.05em; }
.css-letter-spacing-ex1-px-wide  { letter-spacing: 6px; }
