.css-margin-ex1-h2 {
   color: blue;
}
.css-margin-ex1-div {
  border: 1px solid black;
  margin: 90px 20px;
  font-size: 17px;
}


.css-margin-ex2-div-1 {
    border: 1px solid black;
    font-size: 17px;
    width: max-content;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
  }
 .css-margin-ex2-div-2 {
   border: 1px solid red;
   margin-left: 25px;
   margin-right: 9px;
   margin-bottom: 76px;
   margin-top: 2px;
   font-size: 17px;
 } 

.css-margin-ex3-without-margin {
    width: 70%;
    background-color: red;
    color: white;
}

.css-margin-ex3-with-margin {
    width: 70%;
    background-color: yellowgreen;
    color: white;
    margin: auto;
}


.css-margin-ex4 {
    width: 70%;
    background-color: red;
    border: 2px solid green;
    margin: 20px auto;
  }

  .css-margin-ex4-without-margin {
      background-color: greenyellow;
      border: 2px solid white;
      padding: 1rem;
      margin: 0;
  }
  .css-margin-ex4-with{
      background-color: greenyellow;
      border: 2px solid white;
      padding: 1rem;
      margin: 20px;
  }

