.css-media-ex-styleAdd{
  overflow-x: auto;
}
.css-media-ex-parent{
  background-color:greenyellow;
    width:max(1400px , 100%);
    display:flex; justify-content:space-between;
    flex-wrap: wrap;
  }
  .css-media-ex-parent > div{
    background-color: yellow; width:240px;
    margin:20px;   text-align:center;
    padding:20px; color:red;
    font-size:35px; border:outset 9px red;
  }
  @media only screen and (max-width: 1400px){
    .css-media-ex-parent{ width: 100%; }
    .css-media-ex-parent > div{ width:40%; }
  }
  @media only screen and (max-width: 900px){
    .css-media-ex-parent > div{ width:100%; }
  }