.styleAdd-ex1-result{
    height: 320px;
}


.css-object-fit-ex1-img {
    box-sizing: border-box;
    border: 6px solid black;   
    width: 19%;
}
  
.css-object-fit-ex1-h2 {
    border: 6px solid black;
    width: 19%;
}



.css-object-fit-ex2-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-object-fit-ex2-child{
    width: 250px;
    height: 200px;
    box-sizing: border-box;
}

