.css-padding-ex1-h2 {
  color: blue;
}
.css-padding-ex1-div {
  border: 1px solid black;
  padding: 20px 20px;
} 


.css-padding-ex2-h2 {
  color: blue;
  padding-top: 90px;
}
.css-padding-ex2-div {
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 9px;
  padding-bottom: 76px;
  padding-top: 0px;
} 

.css-padding-ex3-div {
    border: 1px solid black;
    padding: 40px ;
} 

.css-padding-ex4{
    color: red;
    border: 1px solid black;
    margin: 1px;
    margin-top: 4px;
}