#css-perspective-ex1-parent-div1 , #css-perspective-ex1-parent-div2 { margin:20px;background-color:green;}
#css-perspective-ex1-parent-div1 {perspective:300px;margin-bottom:90px;}
#css-perspective-ex1-parent-div2 {perspective:600px;}
.css-perspective-ex1-parent{width:400px;height:400px;background-color:red;font-size:130px;margin:auto; }



/************************/
#css-perspective-ex2-parent-div1, #css-perspective-ex2-parent-div2 {
  margin: 100px;
  background-color: green;
}
#css-perspective-ex2-parent-div1 {
  perspective: 300px;
  margin-bottom: 90px;
}
#css-perspective-ex2-parent-div2 {
  perspective: 600px;
}
.css-perspective-ex2-parent {
  width: 400px;
  height: 400px;
  background-color: red;
  font-size: 130px;
  margin: auto;
}
#css-perspective-ex2-parent-div1 > div, #css-perspective-ex2-parent-div2 > div {
  transform: translateZ(50px);
}
/************************/

.css-perspective-ex3-style { 
    background-color:red;height:300px;margin-bottom:9px;
}
.css-perspective-ex3-div1 {  perspective:300px;  perspective-origin: left;  }
.css-perspective-ex3-div2{  perspective:300px;  perspective-origin: center;  }
.css-perspective-ex3-div3{  perspective:300px;  perspective-origin: right;  }
.css-perspective-ex3-div_a , .css-perspective-ex3-div_b , .css-perspective-ex3-div_c{ 
    background-color:green; 
    color:white;
    margin:auto; 
    font-size:35px;
    height:300px; 
    width:300px;
    transform: translateZ(-300px);
}


/************************/

.css-perspective-ex4-style { 
  background-color:red;height:300px;margin-bottom:9px;
}
.css-perspective-ex4-div1{ perspective:300px; perspective-origin: left;  }
.css-perspective-ex4-div2{ perspective:300px; perspective-origin: center;  }
.css-perspective-ex4-div3{ perspective:300px; perspective-origin: right;  }
.css-perspective-ex4-div_a , .css-perspective-ex4-div_b , .css-perspective-ex4-div_c{ 
  background-color:green;color: white;
  margin:auto; font-size: 35px;
  height:300px; width:300px;
  transform: rotateX(45deg);
} 