@import "./sass-flex"

@mixin animationRotate($name , $x , $y ) 
    animation: #{$name} 2s linear infinite
    @keyframes #{$name}
        0%
            transform: rotateX($x) rotateY($y) rotateZ(0deg)
        100%
            transform: rotateX($x) rotateY($y) rotateZ(360deg)
    

.sass-ex1-container-test
    @extend %flex-center-center
    background-color: black
    width: 100%
    height: 700px
    .ring
        width: 200px
        height: 200px
        border-radius: 50% 
        position: absolute
        &:nth-child(1)
            border-top: 5px solid green
            @include animationRotate( "ring-animatio-1" , 35deg , -45deg) 
        &:nth-child(2)
            border-top: 5px solid red
            @include animationRotate( "ring-animation-2" , 50deg , 10deg) 
        &:nth-child(3)
            border-top: 5px solid yellow
            @include animationRotate( "ring-animation-3" , 35deg , 55deg) 


.sass-ex2-styleAdd
    background-color: black

@import "./sass-flex"
.sass-ex2-container-test-2 
    @extend %flex-center-center
    *
        margin: 0
        padding: 0 
    background-color: black
    width: 100%
    height: 500px
    h2
        position: relative
        margin: 0
        font-size: 4.5rem
        color: white
        z-index: 1
        overflow: hidden
        span
            color: red
        &:before
            content: ''
            position: absolute
            left: 120%
            width: 120%
            height: 100%
            background: linear-gradient(90deg, transparent 0%, black 5%, black 100%)
            animation: animate-heading 6s linear forwards infinite
            @keyframes animate-heading
                0%
                    left: 110%
                100% 
                    left: -20%


.sass-ex3-container-3
    .container-box
        height: 600px
        background: black
        .container-h2
            text-align: center 
            line-height: 600px
            font-size: 5rem
            letter-spacing: 0.2em
            span
                color: white
                opacity: 0
                display: inline-block
                animation: animate-name 1s linear forwards infinite
                @keyframes animate-name 
                    0%
                        opacity: 0
                        transform: rotateY(90deg)
                        filter: blur(10px)
                    100%  
                        opacity: 1
                        transform: rotateY(0deg)     
                        filter: blur(0)