.css-scroll-behavior-ex-link{
    padding:9px;color:blue;
    font-size: 20px;
}

#css-scroll-behavior-ex-A , #css-scroll-behavior-ex-B , #css-scroll-behavior-ex-C {
    height:900px;
    background-color: yellow;
    text-align:center;
    line-height:200px;
    font-size: xxx-large;
}