#css-text-align-ex1-h2 { text-align: center; color: red;}
.css-text-align-ex1-date {text-align: right;}
.css-text-align-ex1-main {text-align: justify;}


.css-text-align-ex2-parent{
    display: flex;
    align-items: center;
}

.css-text-align-ex2{
    width: 100%;
    height: max-content;
    background: #000;
    color: white;
    font-size: 20px;
}