#css-text-transform-ex1-parag{ text-transform: capitalize; color:red;}



.css-text-transform-ex2-parag1{ text-transform: uppercase; color: red;}
.css-text-transform-ex2-parag2{text-transform: lowercase; color: green;}