.css-transform3d-ex1-parent , .css-transform3d-ex2-parent , .css-transform3d-ex3-parent 
,.css-transform3d-ex4-parent, .css-transform3d-ex5-parent , .css-transform3d-ex6-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}


.css-transform3d-ex2-parent, .css-transform3d-ex4-parent, .css-transform3d-ex5-parent, .css-transform3d-ex6-parent{
  perspective: 300px;
}


.css-transform3d-ex1-child , .css-transform3d-ex2-child , .css-transform3d-ex3-child , 
.css-transform3d-ex4-child , .css-transform3d-ex5-child , .css-transform3d-ex6-child {
  width:160px;height:160px;margin:auto;background-color:gray;margin-top:15%;margin-bottom:15%;border:2.5px solid red;
}