.css-transform-ex1-header {
  width: 50%;
  height: 30vh;
  background-color: palevioletred;
  transform: translateX(50%);
  margin-bottom: 90px;
}

/***************************/

.css-transform-ex2-styleAdd{
  height: 80vh ;
}
.css-transform-ex2-header{
  width: 20%;
  height: 50%;
  background-color: palevioletred;
  transform: translateY(50%);
}

/***************************/

.css-transform-ex3-box{ background-color: red; width:200px;  height:200px; border:3px solid black; margin: 100px auto; padding: 7px; box-sizing: border-box; }
.css-transform-ex3-box_contain1{ background-color:yellow; width:180px; height:180px; transform:translate(20px , 20px); }

/***************************/

.css-transform-ex4-box{ background-color: red; width:200px;  height:200px; border:3px solid black; margin: 100px auto; padding: 7px; box-sizing: border-box; }
.css-transform-ex4-box_contain2{  background-color: yellow;  width: 180px;  height:180px; transform : translate(20px , -20px);}

/************** intereactive exemple *****************/

.css-transform-ex5-parent , .css-transform-ex6-parent, .css-transform-ex7-parent, .css-transform-ex8-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.css-transform-ex5 , .css-transform-ex6, .css-transform-ex7 , .css-transform-ex8{
  width:130px;height:130px;margin:auto;background-color:gray;margin-top:15%;margin-bottom:15%;border:2.5px solid red;
}

/***************************/

.css-transform-ex9-box2{ 
  background-color: red; width:320px;  height:160px;
  border:3px solid black; margin: 100px auto;padding: 7px;box-sizing: border-box;
}
.css-transform-ex9-box_contain3{ 
  background-color: yellow; width: 300px; height:140px;
}
.css-transform-ex9-a2{ transform : skewX(30deg); }
.css-transform-ex9-b2{ transform: skewX(-30deg);}

/*******************************/

.css-transform-ex10-BOX_DIV{ 
  background-color:red; width:320px;  height:160px; border:3px solid black; margin:100px auto; padding:7px; box-sizing:border-box;
}
.css-transform-ex10-BOX_contain{ background-color: yellow; width: 300px; height:140px; }
.css-transform-ex10-a3{ transform : skewY(-20deg); }
.css-transform-ex10-b3{ transform: skewY(20deg); }

/********************************/

.css-transform-ex11-div {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  margin: auto;
}

.css-transform-ex11-div-skew {
  transform: skew(20deg, 10deg);
  margin-bottom: 90px;
}