.css-width-ex1-parent{
    padding: 9px;
    margin: 9px;
    border: 2px solid chocolate;
}
.css-width-ex1-children1 {
    background-color: red;
    color: white;
}
.css-width-ex1-children2 {
    background-color: black;
    color: white;
    width: 50%;
}
#css-width-ex1-html-logo{
    width: 120px; 
}
#css-width-ex1-css-logo{
    width: 30%;
}

.css-width-ex2-parent{
    padding: 9px;
    margin: 9px;
    border: 2px solid chocolate;
}
.css-width-ex2-children1 {
  background-color: black;
  color: white;
}
.css-width-ex2-children2 {
  background-color: red;
  color: white;
  width: 50%;
}