.box-code
    border-left: 9px solid green


.file-name-title
    margin-left: 320px
    position: absolute
    top: 0px
    width: calc(100% - 9px)
    border-bottom: 0.2px solid green
    height:33px
    span 
        position: absolute
        top: 6px
        font-size: 15px
        color: rgba(255 255 255 /85%)

.button-copie
    background-color: #2d2d2d 
    color: #fdf6e3
    position: absolute
    padding: 0 13px
    right: 18px
    top: 20px
    border: none
    outline: none
    font-size: 15px

.isolate-text 
  unicode-bidi: isolate
  direction: rtl
