pre{
    border-radius: 4px;
}
pre>code{
	font-size: 19px  !important;
}
.undefined {
    border-radius: 50%;
}

/* Media query for screens less than 500px */
@media (max-width: 430px) {
    pre > code {
        font-size: 15px !important;
    }
}