@import "../../assests/sass/color"

.file-name-title
    margin-left: 320px
    position: absolute
    top: 0px
    width: calc(100% - 9px)
    border-bottom: 0.2px solid green
    height:38px
    span 
        position: absolute
        top: 6px
        font-size: 19px
        color: green

.button-copie
    background-color: $button_bg_copie
    color: $button_copie
    position: absolute
    padding: 0 13px
    right: 18px
    top: 20px
    border: none
    outline: none
    font-size: 14px

.isolate-text 
  unicode-bidi: isolate
  direction: rtl