*
    box-sizing: border-box

.main-home
    width: 80%
    margin: 200px 10% 90px 10%
    gap:30px
    @media (max-width: 1366px) 
        width: 100%
        margin: 200px 0% 90px 0%
    @media (max-width: 1104px) 
        gap: 40px
    @media (max-width: 470px) 
        margin: 155px 0% 90px 0%
        gap: 0px
    .box-lang
        direction: rtl
        width: 343px
        height: 490px
        border-radius:  12px 
        background-color: rgba(255 255 255/6%)
        @media (max-width: 741px) 
            width: 80%
            height: max-content
            padding-bottom: 30px
        @media (max-width: 470px) 
            width: 90%
            margin: 5%
        .card-header
            border-radius: 12px 12px 0px 0px 
            background-color: #19243e
            h3
                font-family: "Playfair Display", serif
                font-optical-sizing: auto
                font-weight: 500
                font-style: normal
        .card-body
            padding: 20px
                
            .div-img
                height: 120px
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                img
                    width: 90px
            .card-text
                font-family: "Readex Pro",sans-serif
                font-size: 16px