@import "../../assests/sass/var"
@import "../../assests/sass/color"

.header
    position: fixed
    top:0
    z-index: 999
    background-color: #121926 
    width: 100%
    z-index: 999
    .img-logo-box-header
        width: 42px
        height: 42px
        border: 1px dashed white
        border-radius: 50%
        padding: 2px
        margin: auto
        animation: logo-div 20s infinite normal
        @keyframes logo-div 
            0% 
                transform: rotate(0deg)
            80% 
                transform: rotate(360deg)
            100%  
                transform: rotate(0deg)
        @media (max-width: 991px) 
            display: none
    .header-logo 
        width: 40px
        height: 40px
        display: flex
        justify-content: center 
        align-items: center 
        border-radius: 50% 
        .logo
            color: white
            font-size: 27px
            font-family: "Anta", sans-serif
            font-weight: 400
            font-style: normal



.header-main
    display: block
    @media (max-width: 500px) 
        display: none
    .container-h
        display: flex
        justify-content: space-between
        align-items: center
        height: 70px
        position: relative
        @media (max-width: 1140px) 
            justify-content: space-between
            padding: 0 40px
        .box-profile
            position: absolute
            top: 70px
            left: 0px
            z-index: 999
            background-color: #19243e 
            border: 1px solid gray
            width: 200px
            button
                width: 100%
                background-color: #19243e 
                padding: 12px
                color: white
                text-align: right
            .out
                text-align: center
                &:hover
                    background-color: red
        .btn-outline-fa-right-to-bracket
            .fa-user
                color: white
            &:hover
                background-color: white
                .fa-user
                    color: black

    .header-search-container
        width: 50%
        position: relative
        .search-field 
            margin-left: 0px
            font-size: 0.875rem
            background-color: #19243e
            color: white
            padding: 10px 15px
            padding-right: 30px
            padding-left: 17px
            height: 45px
            border: 0.2px solid rgba(255 255 255/20%)
            border-radius: 10px 0 0 10px
            width: calc(100% - 50px)
            outline: none
        .search-btn
            position: absolute
            right: 0px
            width: 50px
            height: 45px
            background-color: #080e1f
            color: rgba(255 255 255/50%)
            border: 0.2px solid rgba(255 255 255/20%)
            outline: none
            border-radius:  0 10px 10px 0
    .header-icons
        width: max-content
        display: flex
        align-items: center
        flex-direction: row-reverse 
        i
            font-size: 20px
            cursor: pointer
            color: $textColor
            margin: 0 14px 
        .fa-paypal
            &:hover
                color: #4574f6
        .menu-icon
            display: none
            @media (max-width: 1140px) 
                display: block
    

////header-main for phone 
.header-main-phone
    height: 70px
    width: 100%
    justify-content: space-around
    align-items: center
    display: none
    @media (max-width: 500px) 
        display: flex
    .icons-header-phone
        width: 45px
        height: 45px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        background-color: rgba(255 255 255/5%)
        border: none
        outline: none
        cursor: pointer
        &:hover
            background-color: rgba(255 255 255/9%)
        i
            font-size: 20px
            color: white
.header-search-container-phone
    height: 55px
    border-top: 0.5px solid gray
    padding: 7px 20px
    display: none
    .search-field-phone
        margin-left: 0px
        font-size: 0.875rem
        background-color: #19243e
        color: white
        padding: 10px 15px
        padding-right: 30px
        padding-left: 17px
        height: 40px
        border: 0.2px solid rgba(255 255 255/20%)
        border-radius: 10px 0 0 10px
        width: calc(100% - 50px)
        outline: none
    .search-btn-phone
        position: absolute
        right: 21px
        width: 50px
        height: 40px
        background-color: #080e1f
        color: rgba(255 255 255/50%)
        border: 0.2px solid rgba(255 255 255/20%)
        outline: none
        border-radius:  0 10px 10px 0


//Header Nav Languages
.desktop-navigation-menu
    padding: 0px
    display: flex
    justify-content: center
    border-bottom: 0.5px solid gray
    border-top: 0.5px solid gray
    background-color: #19243e 
    align-items: center
    position: relative
    &::-webkit-scrollbar 
        box-sizing: border-box
        height: 0px
        visibility: auto
    @media (max-width: 1140px) 
        justify-content: flex-start
        overflow-x: auto 
        padding: 0px 35px 
    @media (max-width: 700px) 
        padding: 0px 25px 
    @media (max-width: 500px) 
        padding: 0px 5px 

    .desktop-menu-category-list
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        margin: 0
        font-family: 'Arvo', serif
        font-family: 'Roboto', sans-serif
        .menu-category
            font-size: 15px
            font-weight: 600
            padding: 18px 0
            display: block
            margin: 0 2px
            animation: hover-on 0.2s ease  
            text-transform: uppercase
            list-style-type: none
            position: relative
            @media (max-width: 500px) 
                font-size: 12px
            a
                display: inline-block
                -webkit-background-clip: text
                color: transparent
                padding: 0px 9px
                text-decoration: none
                width: max-content
                color:  $textColor
    .btn-scroll 
        position: fixed
        width: 40px
        height: 40px
        border: none
        outline: none
        border-radius: 9px
        display: none
        background-color: #121926 
        color: white
        padding: 0px
        line-height: center
        @media (max-width: 1100px) 
            display: block
    .btn-scroll-right
        right: 0px 
        @media (max-width: 700px) 
            width: 25px
            height: 25px
            border-radius: 3px
        @media (max-width: 500px) 
            display: none
    .btn-scroll-left
        left: 0px 
        @media (max-width: 700px) 
            width: 25px
            height: 25px
            border-radius: 3px
        @media (max-width: 500px) 
            display: none
.color-link-nav-light
    background: #f0fff0
    &::after
        content: ""
        width: 0
        height: 3px
        -webkit-background-clip: text
        background: linear-gradient(to right, $textColor , $textColor, $textColor)
        color:  $textColor
        position: absolute
        bottom: 11px
        left: 8px
    &:hover::after
        animation: link-prog 0.5s forwards
        @keyframes link-prog 
            100%
                width: calc(100% - 16px)
