$bodyBgColor: #0d1117
$headerBgColor: #212529

header
    background-color: $headerBgColor
    height: 86px
    padding: 9px
    direction: ltr
    .navbar-brand
        font-weight: 655
        
    .logo
        font-family: 'Amiri', serif
        font-family: 'Cedarville Cursive', cursive
        font-family: 'Dancing Script', cursive
