.style-result-header
    background: #84adea
    .style-result-header-1
        display: flex
        justify-content: space-between
        align-items: center
        .style-result-header-1-left
            padding-top: 8px
            padding-left: 9px
            height: 50px
            display: flex
            align-items: center
            .result-header-1-tab
                display: flex
                justify-content: space-between
                align-items: center
                width: 285px
                height: 42px
                background-color: #cbdcf7
                border-radius: 9px 9px 0px 0px
                position: relative
                overflow: hidden
                &::before
                    content:""
                    position: absolute
                    left:100%
                    bottom:0
                    width:16px
                    height:15px
                    background-color: #cbdcf7
                &::after
                    content:""
                    position: absolute
                    left:100%
                    bottom:0
                    width:16px
                    height:15px
                    background-color: #84adea
                    border-radius: 50%
                div
                    max-width: 80%
                    white-space: nowrap
                    display: flex
                    align-items: center
                    .style-handle
                        position: absolute
                        bottom:7.5px
                        background-color:#84adea
                        width: 16px
                        height: 7.5px
                        left:100%
                        z-index: 999
                        &::after
                            content:""
                            position: absolute
                            left:8.5px
                            top: 7.5px
                            width:7.5px
                            height:7.5px
                            background-color: #84adea
                            
                    .div-img-box
                        width: 22px
                        height: 22px
                        display: flex
                        justify-content: center
                        align-items: center
                        border-radius: 3px
                        margin-left: 9px 
                        margin-right: 12px 
                        background: #222222
                        img
                            width: 15px
                    p
                        display: block
                        margin: 0
                        font-size: 14.4px 
                .fa-xmark
                    margin-right: 9px
                    font-size: 14px
            .fa-plus
                font-size: 17px
                margin-left: 9px
        .style-result-header-1-right    
            display: flex
            i
                font-size: 15px

    .style-result-header-2
        background:#cbdcf7
        height: 39px
        border-bottom: 0.8px solid gray
        display: flex
        justify-content: space-between
        align-items: center
        .style-result-header-2-left
            width: 172px
            display: flex
            justify-content: space-around
            align-items: center
            i
                font-size: 15px
        .style-result-header-2-center
            width: calc(100% - 232px)
            background: white
            border-radius: 20px
            height: 28.6px
            display: flex
            align-items: center
            i
                font-size: 14px
                margin-left: 11px
            p
                display: block
                font-size: 13.5px
                margin: 0
                margin-left: 14px
                color: gary
        .style-result-header-2-right
            margin-right: 20px 

.add-style-body
    padding: 9px 9px 30px 9px
    min-height: 300px
    position: relative
    top:-5px
    .window-alert , .window-confirm , .window-prompt
        width: 320px
        position: absolute
        top:0
        left: calc(50% - 160px)
        height: 130px
        h6
            margin-top: -9px
            margin-bottom: 14px
        p
            font-size: 13px 
        .button-alert-ok
            position: absolute
            right:11px
            bottom:11px
        .button-confirm-cancel
            position: absolute
            right:11px
            bottom:11px
        .button-confirm-ok
            position: absolute
            right:11px
            bottom:11px
    .window-prompt
        width: 390px
        height: 164px
        input 
            height: 34px
            outline: none
            border: none
            padding: 4px
.console-style
    height: 400px
    display: flex
    justify-content: flex-end
    .console-head
        background-color: #343436
        height: 45px
        span
            font-size: 13px
            
    .console-body
        height: 100%
        background-color: #202124
        width: 75%
        .console-body-children
            line-height: 20px
            font-size: 15px
            div
                border-bottom: 1px solid gray
                margin-bottom: 4px 
      