#getComputedStyle-div_test{background-color: #fc9909; border: 2px solid black; padding: 10px; font-size: 150%;}
#getComputedStyle-div_test::before{ content:"Hello"; color: white; }
#getComputedStyle-div_test::after{ content:"Word"; color: greenyellow; }