#DV{ background-color: red; border: 2px solid black; padding: 10px;}
#DV2{background-color:#fc9909; border:2px solid black; padding:10px; font-size:150%;}
#div_test{background-color: #fc9909; border: 2px solid black; padding: 10px; font-size: 150%;}
#div_test::before{ content:"Hello"; color: white; }
#div_test::after{ content:"Word"; color: greenyellow; }