@import "./assests/sass/var"

* 
    margin: 0
    padding: 0
    font-family: 'Arvo', serif
    font-family: 'Roboto', sans-serif
    box-sizing: border-box

body
    background-color: rgb(5 5 5)
    overflow-x: hidden
    color: $light
    font-size: 16px
    &::-webkit-scrollbar 
        width: 8px   
    &::-webkit-scrollbar-thumb 
        border: 0.6px solid gray
        -webkit-border-radius: 10px  
        border-radius: 8px
    ul , ol
        margin: 0 35px

// Aside 
.aside 
    width: 265px
    position: fixed
    height: calc(100vh - 130px)
    left: 0px
    bottom: 0
    background-color: rgb(10 10 10)
    direction: ltr
    padding: 9x
    padding-top: 20px
    overflow-y: auto
    overflow-x: hidden 
    &::-webkit-scrollbar 
        box-sizing: border-box
        width: 5px
    &::-webkit-scrollbar-track 
        background: rgb(30 30 30)
       
    &::-webkit-scrollbar-thumb 
        background:  white
        -webkit-border-radius: 10px  
        border-radius: 8px
    ul , dl
        width: 100%
    li , .aside-dl-simple
        margin: 0 4px 
        border-radius: 3px
        border: none
        font-size: 13px 
        padding: 0
        background-color:  rgb(10 10 10)
        cursor: pointer
        font-family: "Tajawal", sans-serif
        font-weight: 650
        &:hover
            background-color: #1f2021
        a
            display: inline-block
            padding: 7px 20px
            width: 100%
            height: 100%
            margin: 0
            color: #f0fff0
            text-decoration: none
            font-family: 'Tajawal', sans-serif
            

    .aside-dl-dt
        padding: 7px 20px
        font-size: 13px 
        a
            text-decoration: none
            color: #f0fff0
    .aside-dl-dd
        font-size: 11.5px 
        padding: 0px 26px 
        margin: 0
        a
            display: inline-block
            width: 100%
            height: 100%
            padding: 7px 11px
            margin: 0
            color: #f0fff0
            text-decoration: none
            border-radius: 3px 
            &:hover
                background-color: #1f2021
            i
                font-size: 5px 
                margin-right: 3px  
                display: inline-block
        











// Section 

.section-conetent
    width: calc( 85% - 365px )
    margin: 0 calc(10% - 35px)
    padding: 40px 0
    font-size: 17px
    margin-top: 140px 
    .heading-style 
        direction: ltr
        font-style: italic
        font-size: 40px
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    .heading-style-html-color
        -webkit-text-stroke: 0.9px $html-color
        text-shadow: 0.9px 0.9px 9px $html-color
    .heading-style-css-color
        -webkit-text-stroke: 0.9px $css-color
        text-shadow: 0.9px 0.9px 9px $css-color
    .heading-style-js-color
        -webkit-text-stroke: 0.9px $js-color
        text-shadow: 0.9px 0.9px 9px $js-color
    .heading-style-react-color
        -webkit-text-stroke: 0.9px $react-color
        text-shadow: 0.9px 0.9px 9px $react-color
    .heading-style-git-color
        -webkit-text-stroke: 0.9px $git-color
        text-shadow: 0.9px 0.9px 9px $git-color
    .heading-style-django-color
        -webkit-text-stroke: 2px $django-color
        text-shadow: 0.9px 0.9px 9px rgba(9 46 36)
    .heading-style-laravel-color
        -webkit-text-stroke: 0.9px $laravel-color
        text-shadow: 0.9px 0.9px 9px $laravel-color
    .img
        width: 100%
        margin: 20px  0
        border: 0.1px solid rgba(255 255 255/20%)
    .style_divv
        background-color:  rgba(255 255 255/5%)
        border: 0.2px solid gray
        padding: 20px
        border-radius: 3px
        margin-bottom: 24px 
        font-style: italic
        word-spacing: 3px 
        font-size: 16px
    .title-h2
        font-size: 31px
        color: aqua
    .title-h3
        font-size: 27px
        margin-top:17px 
        color: yellow
    .title-h5
        font-size: 20px
        margin-top:15px 
        color: rgba(99, 123 , 200 , )
    .title-h6
        margin-top:13px 
        font-size: 18px
        color: red
    .style-result , .styleee
        direction: ltr
        background-color: white
        color: black
        margin: 20px 0 
    .addClass
        width: 75%
    .mital
        color: yellow
        font-size: 23px
    
.rounded-top
    border-radius: 3px 3px 0px 0px   

.overflow-x
    overflow: auto
    &::-webkit-scrollbar 
        box-sizing: border-box
        height: 7px
    &::-webkit-scrollbar-track 
        background: rgb(20 20 20)
       
    &::-webkit-scrollbar-thumb 
        background:  #313336
        -webkit-border-radius: 10px  
        border-radius: 8px

.overflow-xx
    overflow: auto
    position: relative
    bottom: 0px 
    &::-webkit-scrollbar 
        box-sizing: border-box
        height: 14px
    &::-webkit-scrollbar-track 
        background: #87909e
    &::-webkit-scrollbar-thumb 
        background:  gray
        -webkit-border-radius: 10px  
        border-radius: 8px


// reactive css exemple 

.reactive-css-exemple 
    background-color: #191a1bec
    padding: 20px
    border: 0.2px solid rgba(165 42 42/70%)
    margin: 6px 3px
    li
        list-style-type: none  
    h3
        font-size: 20px
        margin-bottom: 18px 
    .code
        border-bottom: 1px solid  rgba(165 42 42/70%)
    .option
        align-self: center

    .result
        .class-parent
            height: 300px


.table td,th
    width:30%
    border: 2px solid whitesmoke
    border-collapse:collapse
    text-align: center
    color: white
