@import "./assests/sass/var"

* 
    margin: 0
    padding: 0
    font-family: 'Arvo', serif
    font-family: 'Roboto', sans-serif
    box-sizing: border-box

body
    background-color: #171717
    overflow-x: hidden
    color: $light
    font-size: 19px
    &::-webkit-scrollbar 
        width: 8px   
    &::-webkit-scrollbar-thumb 
        border: 0.6px solid gray
        -webkit-border-radius: 10px  
        border-radius: 8px
    ul
        margin: 0 35px

// Aside 
.aside 
    width: 265px
    position: fixed
    height: calc(100vh - 130px)
    left: 0px
    bottom: 0
    background-color: rgb(20 20 20)
    direction: ltr
    padding: 9x
    overflow-y: auto
    overflow-x: hidden
    font-size: 14px 
    &::-webkit-scrollbar 
        box-sizing: border-box
        width: 3px
    &::-webkit-scrollbar-track 
        background: rgb(20 20 20)
       
    &::-webkit-scrollbar-thumb 
        background:  #313336
        -webkit-border-radius: 10px  
        border-radius: 8px
    h5
        margin-left: 19px
        font-weight: 700
        list-style-type: circle
    ul , dl
        width: 100%
    li , .aside-dl-simple
        margin: 0 3px 
        border-radius: 3px
        border: none
        font-size: 14.5px 
        padding: 0
        background-color: rgb(20 20 20)
        cursor: pointer
        font-family: "Tajawal", sans-serif
        font-weight: 650
        &:hover
            background-color: #1f2021
        a
            display: inline-block
            padding: 7px 20px
            width: 100%
            height: 100%
            margin: 0
            color: #f0fff0
            text-decoration: none
            font-family: 'Tajawal', sans-serif

    .aside-dl-dt
        padding: 7px 20px
        a
            text-decoration: none
            color: #f0fff0
    .aside-dl-dd
        font-size: 11.5px 
        padding: 0px 26px 
        margin: 0
        a
            display: inline-block
            width: 100%
            height: 100%
            padding: 7px 11px
            margin: 0
            color: #f0fff0
            text-decoration: none
            border-radius: 3px 
            &:hover
                background-color: #1f2021










// Section 

.section-conetent
    width: calc( 100% - 365px )
    margin: 0 50px
    padding: 40px 0
    margin-top: 140px 
    .heading-style 
        direction: ltr
        font-style: italic
        font-size: 40px
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    .heading-style-html-color
        -webkit-text-stroke: 0.9px $html-color
        text-shadow: 0.9px 0.9px 9px $html-color
    .heading-style-css-color
        -webkit-text-stroke: 0.9px $css-color
        text-shadow: 0.9px 0.9px 9px $css-color
    .heading-style-js-color
        -webkit-text-stroke: 0.9px $js-color
        text-shadow: 0.9px 0.9px 9px $js-color
    .heading-style-react-color
        -webkit-text-stroke: 0.9px $react-color
        text-shadow: 0.9px 0.9px 9px $react-color
    .heading-style-git-color
        -webkit-text-stroke: 0.9px $git-color
        text-shadow: 0.9px 0.9px 9px $git-color
    .img
        width: 100%
        margin: 20px  0
        border: 0.1px solid rgba(255 255 255/20%)
    .style_divv
        background-color:  #1f2022ec
        border: 0.8px solid brown
        padding: 20px
        border-radius: 3px
        margin-bottom: 24px 
        font-style: italic
        word-spacing: 3px 
    .title-h2
        font-size: 31px
        color: aqua
    .title-h3
        font-size: 27px
        margin-top:17px 
        color: yellow
    .style-result
        direction: ltr
        background-color: white
        color: black
        margin: 20px 0 
    .addClass
        width: 75%
    .mital
        color: yellow
        font-size: 23px
    
.rounded-top
    border-radius: 3px 3px 0px 0px   
.green
    color: green


.overflow-x
    overflow: auto
    &::-webkit-scrollbar 
        box-sizing: border-box
        height: 7px
    &::-webkit-scrollbar-track 
        background: rgb(20 20 20)
       
    &::-webkit-scrollbar-thumb 
        background:  #313336
        -webkit-border-radius: 10px  
        border-radius: 8px
