@import "./assests/sass/var"
@import "./assests/sass/class"
@import "./assests/sass/color"
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    overflow-x: hidden
    color: $textColor 
    font-size: 16px
    background-color: #080e1f
    &::-webkit-scrollbar 
        box-sizing: border-box
        width: 15px
    &::-webkit-scrollbar-track 
        background: black
    &::-webkit-scrollbar-thumb 
        background:  gray 
        border: 0.2px solid black
    ul , ol
        margin-right: 35px
        @media (max-width: 450px) 
            margin-right: 20px
           
            

.aside
    width: 276px
    position: fixed
    height: calc(100vh - 128px)
    left: 0px
    bottom: 0
    direction: ltr
    padding: 9x
    padding-top: 20px
    overflow-y: auto
    overflow-x: hidden 
    background-color: #121926 
    z-index: 998
    @keyframes moveAsideOpen 
        from  
            width: 0px
        to  
            width: 276px 
    @media (max-width: 1140px) 
        display: none
    @media (max-width: 500px)
        @keyframes moveAsideOpen 
            from  
                width: 0px
            to  
                width: 100%
                padding: 20px
    &::-webkit-scrollbar 
        box-sizing: border-box
        width: 15px
        visibility: visibile
    &::-webkit-scrollbar-track 
        background: black
    &::-webkit-scrollbar-thumb 
        background:  gray 
        border: 0.2px solid black
    ul , dl
        width: 100%
        background-color: #121926
        li , .aside-dl-simple
            margin: 0 4px 
            border-radius: 3px
            border: none
            font-size: 13px 
            padding: 0
            cursor: pointer
            font-weight: 650
            background-color: #121926 
            height: 35px
            a
                display: inline-block
                padding: 7px 20px
                width: 100%
                height: 100%
                margin: 0
                color: $textColor
                text-decoration: none
                font-family: 'Tajawal', sans-serif
                &:hover
                    background-color: $asideHover
    .aside-dl-dt
        padding: 7px 20px
        font-size: 13px 
        a
            text-decoration: none
            color: $textColor
            &:hover
                background-color:  $asideHover
    .aside-dl-dd
        font-size: 11.5px 
        padding: 0px 26px 
        margin: 0
        a
            display: inline-block
            width: 100%
            height: 100%
            padding: 7px 11px
            margin: 0
            color: $textColor
            text-decoration: none
            border-radius: 3px 
            &:hover
                background-color: $asideHover
            i
                font-size: 5px 
                margin-right: 3px  
                display: inline-block
        

.section-conetent
    width: calc( 85% - 366px )
    margin: 0 calc(10% - 35px)
    padding: 40px 0
    font-size: 17px
    margin-top: 140px    
    @media (max-width: 1248px) 
        width: calc( 90% - 296px )
        margin: 0 calc(14px + 2.5%)
        margin-top: 140px
    @media (max-width: 1140px) 
        width: calc( 100% - 80px )
        margin: 0 40px
        margin-top: 140px
    @media (max-width: 995px) 
        width: calc( 100% - 40px )
        margin: 0 20px
        margin-top: 140px

    .heading-style 
        direction: ltr
        font-style: italic
        font-size: 44px
        color: #a4e5e5f5
        margin-bottom: 65px
        font-family: "Readex Pro",sans-serif
        @media (max-width: 500px) 
            font-size: 34px
    .img
        width: 100%
        margin: 20px  0
        border: 0.1px solid rgba(255 255 255/20%)
    .style_divv
        background-color: #121926
        border: 0.2px solid gray
        padding: 20px
        border-radius: 3px
        margin-bottom: 24px 
        font-style: italic
        word-spacing: 3px 
        font-size: 15px
        font-family: "Readex Pro",sans-serif
        @media (max-width: 500px) 
            font-size: 12px
    .title-h2
        font-size: 28px
        color: #a4e5e5f5
        margin-top: 45px 
        margin-bottom: 15px 
        font-family: "Readex Pro",sans-serif
        @media (max-width: 500px) 
            font-size: 22px
    .title-h3
        font-size: 23px
        margin-top:17px 
        color:  #bb94d2
        font-family: "Readex Pro",sans-serif
        @media (max-width: 500px) 
            font-size: 19px
    .title-h5
        font-size: 19px
        margin-top:15px 
        color: $title_h5
        font-family: "Readex Pro",sans-serif
        @media (max-width: 500px) 
            font-size: 16px
    .title-h6
        margin-top:13px 
        font-size: 17px
        color: red
        font-family: "Readex Pro",sans-serif
        @media (max-width: 500px) 
            font-size: 14px
    .style-result
        direction: ltr
        background-color: white
        color: black
        margin: 20px 0 
    .addClass
        width: 75%
        @media (max-width: 500px) 
            width: 100%
    .mital
        color: aqua
        font-size: 23px
        font-family: "Readex Pro",sans-serif

.rounded-top
    border-radius: 3px 3px 0px 0px   

.overflow-x
    overflow: auto
    &::-webkit-scrollbar 
        box-sizing: border-box
        height: 7px
    &::-webkit-scrollbar-track 
        background: rgb(20 20 20)
       
    &::-webkit-scrollbar-thumb 
        background:  #313336
        -webkit-border-radius: 10px  
        border-radius: 8px

.overflow-xx
    overflow: auto
    position: relative
    bottom: 0px 
    &::-webkit-scrollbar 
        box-sizing: border-box
        height: 14px
    &::-webkit-scrollbar-track 
        background: #87909e
    &::-webkit-scrollbar-thumb 
        background:  gray
        -webkit-border-radius: 10px  
        border-radius: 8px

.reactive-css-exemple 
    background-color: #191a1bec
    padding: 20px
    border: 0.2px solid rgba(165 42 42/70%)
    margin: 6px 3px
    li
        list-style-type: none  
    h3
        font-size: 20px
        margin-bottom: 18px 
    .code
        border-bottom: 1px solid  rgba(165 42 42/70%)
        font-family: "Readex Pro" , sans-serif
    .option
        align-self: center
        font-family: "Readex Pro" , sans-serif
    .result
        .class-parent
            height: 300px
.table
    margin-top: 16px
.table ,td,th
    color: white 
    font-family: "Readex Pro" , sans-serif

td,th 
    width: max-content
    color: $textColor