.event-js-boxesGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    place-items: center;
    background-color: lightgrey;
    cursor: default;
}

  
.event-js-box {
    height: 100px;
    width: 150px;
    border-radius: 10px;
    cursor: move;
}

.event-js-content {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}  


@media only screen and (max-width: 600px){
    .event-js-boxesGroup {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .event-js-box {
        margin: 9px 0 ;
    }
}